# Dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# OS specific files
.DS_Store
Thumbs.db
.directory
desktop.ini

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Build and temporary files
.tmp/
.cache/
dist/

# Optional: Uncomment if you want to ignore compiled CSS
# assets/css/tailwind.min.css 